services:
  postgres:
    image: postgres:18.1-alpine
    container_name: postgres
    attach: false
    ports:
      - '5432:5432'
    networks:
      - taskhub-network
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}

  rabbitmq:
    image: rabbitmq:4.2.1-management-alpine
    container_name: rabbitmq
    attach: false
    restart: always
    ports:
      - '5672:5672'
      - '15672:15672'
    networks:
      - taskhub-network
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes: [ 'rabbitmq_data:/var/lib/rabbitmq' ]

volumes:
  postgres_data:
    driver: local
  rabbitmq_data:
    driver: local

networks:
  taskhub-network:
    driver: bridge
